#about {
  padding: 60px 20px;
  background-color: white; /* Light background for the section */
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  color: black;
  text-justify: newspaper;
  text-align: justify;
}

#about h2 {
  font-size: 3rem;
  color: white;
  width: fit-content;
  margin: auto;
  background-color: black; /* Dark background for heading */
  border-radius: 70px;
  padding: 10px 20px;
  margin-bottom: 30px;
  transition: transform 0.3s;
}
#about h2:hover {
  transform: scale(1.05);
}
.about-content h3 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: #343a40; /* Dark color for subheadings */
}

/* New card style */
.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px; /* Space between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: transform 0.3s; /* Smooth hover effect */
}

.card:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.about-content p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  text-justify: auto;
}

.skills-list,
.interests-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.skills-list li,
.interests-list li {
  font-size: 1.2rem;
  color: black;
  padding: 10px 0;
}

.icon {
  margin-right: 10px;
  color: #f39c12;
}
