* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif; /* Default font for the body */
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light grey text for contrast */
}

section {
  padding: 40px 20px; /* Padding around the sections */
  text-align: center; /* Center text for all sections */
}
